<header>
    <nav class="flex gap-4 justify-start bg-slate-100 p-4">
        <ul class="flex gap-4">
            <li class="px-3 py-1 bg-blue-600 rounded-md text-white"><a href="/">Home</a></li>
        </ul>
    </nav>
    <nav class="flex gap-4 justify-start bg-slate-100 p-4 shadow-md border-b-gray-200 select-none">
        <ul class="flex gap-4">
            <li class="px-3 py-1 bg-blue-600 rounded-md text-white"><a href="/products/new">New Product</a></li>
        </ul>
        <ul class="flex gap-4">
            <li class="px-3 py-1 bg-blue-600 rounded-md text-white"><a href="/variants/">View Variants</a></li>
            <li class="px-3 py-1 bg-blue-600 rounded-md text-white"><a href="/variants/new">Create Variant</a></li>
        </ul>
    </nav>
</header>