<form method="POST" action="/images/{% if image.id %}{{ image.id }}{% endif %}">
    
    {% if image.id %}
        <input type="hidden" name="id" value="{{ image.id }}" />
    {% endif %}

    <div>
        <label for="title">Name: </label><input type="text" name="title" id="title" placeholder="Name of image" value={{ image.title }}> <br /> <br />
        <label for="price">Price: </label><input type="text" name="price" id="price" placeholder="Price of image" value={{ image.price }}>
        <br /><br />
        <input type="submit" value="Submit"/>
    </div>
</form>