{% extends 'layouts/base.twig' %}

{% block title %}New{% endblock %}

{% block main %}
    <h1 class="font-semibold text-2xl m-5">New Product</h1>
    {% include 'views/products/_form.twig' %}
{% endblock %}